.card-wrapper {
  div {
    border-radius: 10px;
    width: max-content;
    margin: 8px auto;
  }
  .card-1 {
    background-color: #fefefe;
    position: relative;
    top:6px;
    left: -20%;
    padding: 16px;
    color: var(--text-color);
    svg {
      color: var(--input-color);
      font-size: 32px;
    }
    p {
      margin-top: 0.1em;
      font-size: 14px;
    }
    p:last-child {
      font-weight: bold;
      margin-bottom: 0;
      span {
        color: var(--input-color);
        font-size: 20px;
      }
    }
  }
  .card-2 {
    background-color: #fff;
    position: relative;
    top:-60px;
    left: 32px;
    .mantine-RingProgress-root {
      circle:not(:first-child):hover {
        stroke-width: 20;
      }

      .mantine-RingProgress-label {
        margin: 0 auto;
        color: var(--text-color);
        font-size: 12px;
        b {
          color: #000;
          font-size: 16px;
        }
      }
    }
  }
  .card-3 {
    padding: 24px 60px;
    background-color: #fafafa;
    position: absolute;
    top: 216px;
    left: 10px;
    z-index: -1;
    outline: 1px dashed var(--text-color);
    outline-offset: -8px;
    text-align: center;
    svg {
      color: var(--input-color);
      font-size: 40px;
    }
    h6 {
      margin-top: 0.1em;
      margin-bottom: 0.1em;
    }
    p {
      color: var(--text-color);
      margin: 0;
      font-size: 14px;
    }
    span {
      color: green;
    }
  }
}
